:root {
    --orange-color: #b28756;
    --text-white: #fff;
    --light-grey: rgba(255, 255, 255, 0.781);
    --sub-title: #CCC;
    --bg-color: #f7f7f7;
    --bg-color-second: #000;
    --bg-gray: #DDD;
    --text-black: #000;
    --text-gray: #555;
    --border-gray: #333;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica;
    font-size: 13px;
    overflow-x: hidden;
}

header {
    height: 100px;
    background-color: #000;
}

.header {
    max-width: 1140px;  
    height: 100px;
    margin: auto;
    display: flex;
    color: var(--text-white); 
    align-items: center;
}

.logo {
    width: 100px;
}

.logoimg {
    width: 80px;
    height: 80px;
    background-color: var(--orange-color);
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;

}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a{
    color: var(--light-grey);
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid black;
}

.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid var(--orange-color);
    color: var(--text-white);
    font-weight: 700;
}



.banner {
    height: calc(100vh - 100px);
    background-color: gray;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.banner .sliders {
    width: 400vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    margin-left: -3px;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: var(--text-white);
}

.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.banner span {
    color: var(--orange-color);
}

.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}

.banner a {
    display: block;
    background-color: var(--orange-color);
    color: var(--text-white);
    font-size: 12px;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 30px;
    text-transform: uppercase;
}

.banner .sliders-pointers {
    width: 100vw;
    height: 25px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid var(--orange-color);
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.banner .pointer.active {
    background-color: var(--orange-color);
}



.default {
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section-title {
    font-size: 20px;
}

.default .section-desc {
    font-size: 12px;
    color: var(--sub-title);
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section-body {
    margin: auto;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.default.light {
    background-color: var(--bg-color);
}

.default.light .section-title,
.default.light .section-body {
    color: var(--text-black);
}

.default.dark {
    background-color: var(--bg-color-second);
}

.default.dark .section-title,
.default.dark .section-body {
    color: var(--text-white);
}

p {
    font-size: 14px;
    line-height: 25px;
}

.bottom {
    display: inline-block;
    background-color: var(--orange-color);
    color: var(--text-white);
    font-size: 12px;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 30px;
    text-transform: uppercase;
}

.section-services {
    display: flex;
    flex: 1;
}

.section-service {
    flex: 1;
    text-align: center;
    border-right: 1px solid var(--border-gray);
    padding: 15px;
}

.section-service:first-child {
    border-left: 1px solid var(--border-gray);
}

.section-service h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;

}

.section-service p {
    margin-top: 10px;
    font-size: 13px;
    color: var(--sub-title);
}





/* CSS DE AREAS ESPECIFICAS*/
.section-aboutus {
    display: flex;
}

.section-aboutus--left {    
    flex: 1
}

.section-aboutus--right {
    width: 520px;
    text-align: center;
}

.section-aboutus--right img {
    width: 480px;
    box-shadow: 0px 3px 10px #333;
}

.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters {
    border: 0.5px solid var(--text-gray);
    background-color: var(--bg-gray);
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
} 

.section-projects--filters ul,
.section-projects--filters li {
    list-style: none;
}

.section-projects--filters li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid var(--text-gray);
    color: var(--text-gray);
    border-bottom: 4px solid var(--bg-gray);
}

.section-projects--filters li:hover,
.section-projects--filters li.active {  
    border-bottom: 4px solid var(--orange-color);
}

.section-projects--filters li:first-child {
    border-left: none;
}

.section-projects--photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects--photo {
    width: 280px;
}

.section-projects--photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img {
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    justify-content: center;
    align-items: center;
    color: var(--text-white);
    flex-direction: column;
    display: none;
}

.section-projects--photoinfo h5 {
    font-size: 25px;
}

.section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
}

.buttom {
    display: inline-block;
    background-color: var(--orange-color);
    color: var(--text-white);
    font-size: 12px;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 30px;
    text-transform: uppercase;
}